.banner__content {
  background: url("../../assets/images/image-turistas1500x444.jpg") no-repeat
    center center;
  background-size: cover;
  height: 370px; 
  width: 100vw; 
  margin: 0;
  padding: 0;
}
