@import "../../assets/styles/variables";
.navbar__content {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .container {
    padding: 0;
    max-width: 100%;
    position: relative;
    .show {
      display: flex;
      align-items: stretch;
      background-color: $ciano2;
      padding: 25px;
      top: 75px;
      right: -44px;
      width: clamp(240px, 50vw, 40%);
      margin: 0 45px;
      position: absolute;
      .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-right: 0 !important;
        .link {
          color: $ciano2;
        }
      }
    }
    .toggler {
      border: none;
      &:focus {
        box-shadow: none;
      }
    }
    .logo {
      padding-left: clamp(0.2rem, 3vw, 2.5rem);
      width: clamp(10rem, 20vw, 14rem);
    }
    .collapse {
      flex-grow: 0;
      .nav {
        background-color: $ciano;
        border-radius: 15px 0 0 15px;
        height: 40px;
        padding-right: 40px;
        align-items: center;
        .link {
          border-right: solid $ciano2 1.5px;
          height: 15px; //pra poder o linhazinha entre as coisas ficar menor
          display: flex;
          align-items: center;
          padding: 0 40px;
          font-size: 0.9rem;
          font-weight: 500;
          color: $ciano2;
          .png {
            width: 1.1rem;
            padding-right: 0.2rem;
          }
        }
      }
      .nav-hidden {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 991.5px) {
  .navbar__content {
    .container {
      .collapse {
        flex-direction: column;
        flex-wrap: nowrap;
        .nav {
          margin: 0 !important;
          background-color: transparent;
          align-items: end;
          border: 0;
          height: 100%;
          padding-right: 0;
          .link {
            padding: 20px 0 !important;
            border: 0;
            color: $white;
            .png {
              filter: invert(100%) saturate(0%) brightness(2);
            }
          }
        }
        .nav-hidden {
          display: flex;
          align-items: end;
          .link {
            color: $white;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 991.5px) {
    
}